$default-transition-time: 0.5s;
$default-transition-offset: 0s;
$default-fade-distance: 1rem;

.show-with{
    --transition-time: $default-transition-time;
    --transition-offset: $default-transition-offset;
    --fade-distance: $default-fade-distance;
    
    /* Fades  */
    &[class*="fade-"]{
        position: relative;
        opacity: 0;
        transition-delay: var(--transition-offset);
        transition: transform var(--transition-time) ease-in, opacity var(--fade-distance) ease-in;
        pointer-events: none;
        &.active {
            transform: translate(0,0);
            opacity: 1;
            pointer-events: inherit;
        }
    }

    &.fade-up {
        transform: translateY(var(--fade-distance));
    }
    &.fade-down {
        transform: translateY(calc(var(--fade-distance) * -1));
    }
    &.fade-right {
        transform: translateX(calc(var(--fade-distance) * -1));
    }
    &.fade-left {
        transform: translateX(var(--fade-distance));
    }

    /*
     * Time
    */

    &.faster{
        --transition-time: 0.25s;
    }

    &.fast{
        --transition-time: 0.38s;
    }

    &.base {
        --transition-time: $default-transition-time;
    }

    &.slow {
        --transition-time: 0.75s;
    }

    &.slower {
        --transition-time: 1.25s;
    }

    // &.wait {

    // }
}